<nav class="navbar bg-body-tertiary">
  <div class="container-fluid d-flex align-items-center">
    <section>
      <a class="navbar-brand font-monospace text-capitalize">{{adminName}}</a>
    </section>
    <section>
      <form class="d-flex" role="search">
        <input
          class="form-control font-monospace"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-success font-monospace text-capitalize"
          type="submit"
        >search</button>
      </form>
    </section>
    <section>

      <a href="/admin/signout">
        <button
          class="btn bg-dark text-light fw-bold"
          onclick="return confirm(`are you sure to signout`) "
        >SignOut</button>
      </a>

    </section>
  </div>
</nav>

<h1 class="text-center p-2 font-monospace text-capitalize">Table</h1>
<section class="m-5">
  <button
    class="btn btn-success text-center w-100 font-monospace text-capitalize"
    onclick="location.href='/admin/adminadduser'"
  >add user</button>
</section>

<table class="table container">
  <thead>
    <tr class="text-center font-monospace">
      <th scope="col">Count</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>

      <th scope="col">Email</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  {{#each users}}
    <tr class="text-center font-monospace">
      <td>{{@index}}</td>
      <td>{{name}}</td>
      <td>{{phone}}</td>
      <td>{{email}}</td>
      {{! update }}
      <td><a
          href="/admin/update/{{_id}}"
          onclick="return confirm(`are you sure to edit {{name}}`)"
        ><i class="fa-solid fa-pen-to-square"></i></a></td>
      {{! delete }}
      <td><a
          href="/admin/delete/{{_id}}"
          onclick="return confirm(`are you sure to delete {{name}}`)"
        ><i class="fa-solid fa-trash"></i></a></td>

    </tr>
  {{/each}}

</table>